
body {
	font-family: Roboto, Helvetica, Verdana;
}


header{
	/*position: fixed;*/
}
/* navigation bar edits */
nav ul {
	margin: 0;
	padding: 5px 5px;
	background-color: #f1f1f1;
	text-align: right;
}

nav li {
	display: inline-block;
}
nav li a {
	display: inline-block; /* added */ 
	color: #000000;
	padding: 5%;
	/*height: 100%;*/ /* how to make the color go all the way? */
	/*line-height: 100%;*/
	text-decoration: none;
	text-align: center;
	font-family: Roboto, Helvetica, Verdana; 
}

nav li a:hover {
	background-color: #000000;
	color: #FFFFFF;
}

/* text styling within html */


/* flex boxes */
main.projects{
	display:flex;
	margin-left:15%;
	margin-top: 15%;
	justify-content: flex-start;
	min-height: 95vh;
}

main.ux{
}

p {
	padding-top:15px;
	line-height: 1.6;
}

p.subtitle {
	font-style: italic;
}

.current {
	text-decoration: underline;
}

h1 {
	font-family: Roboto, Helvetica, Verdana;
	font-size: 2em;
	padding-top: 5%;
}

h2 {
	font-size: 1.5em;
}

main li {
	display: list-item;
	list-style: disc outside none;
	margin-left: 1em;
} /* got help from this post on making list bullets visible */

ul {
	list-style-type: square;
	font-family: Roboto, Helvetica, Verdana;
}

/* styling images */

/* responsive about me */

div.about_me {
	margin-left: 5%;
	margin-bottom: 5%;
	display: inline-block;
	width: 40%;

}

	img.me {
		height: 40vh;
		padding-top: 2%;
		margin: auto;
		}

div.pyramid {
	display: inline-block;
	width: 40%;
	height: 30vh;
	margin-bottom: 5%;
}

div.pyramid img {
	/*margin: auto;*/
	margin-left: 15%;
	height: 40vh;
	margin-bottom: 40%;
}

	img.pyramid {
		margin:auto;
	}

	

img.companalysis {
	display: block;
	margin: auto;
}

/* end styling images */
/* gathered this from https://accessibility.oit.ncsu.edu/it-accessibility-at-nc-state/developers/accessibility-handbook/mouse-and-keyboard-events/skip-to-main-content/ */
/* got a link to resource from Katie for this part */ 
a.skip-main {
	padding: 10px;
	position: relative;
	top: -1000px;
	left: -1000px;
	overflow: hidden;
	text-align: left;
}

a.skip-main:focus {
	top: auto;
	left: auto;
	width: 20%;
	height: auto;
	background: white;
	overflow: visible;
}